body{
			margin: 0;
			padding: 0;
			font-family: 'Alegreya Sans', sans-serif;
		}

        nav{
	       position: relative;
	       top: 0;
	       left: 0;
	       width: 100%;
	       height: 100px;
	       padding: 10px 100px;
	       box-sizing: border-box;
	       transition: .3s;
           background-color:black;
           float: left;
        
        }

        nav .logo{
	       padding: 22px 20px;
	       height: 80px;
	       float: left;
	       font-size: 40px;
           font-weight: bold;
	       transition: .3s;
        }

        nav .logo{
            color: white;   
        }

        nav .logo a{
            color: white;
            text-decoration: none;
        }

        nav ul{
            list-style: none;
            float: right;margin: 0;
            padding: 10px;
            display: flex;
        }

        nav ul li{
           list-style: none; 
        }

        nav ul li a{
            line-height: 80px;
            color: #151515;
            padding: 12px 30px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            transition: .3s;

        }

        nav ul li a {
            color: white;

        }

        nav ul li a:hover{
            background-color: #8BC34A;
            border-radius: 6px;
        }
        /*nav ul li ul li{
            display: none;
        }

        nav ul li:hover ul li{
            display: block;
        }*/

        nav ul li a:focus{
            outline: none;
        }
        nav ul li a.active{
            color: #fff;
            border:solid 2px #8BC34A;
            border-radius: 6px;
            margin-right: 18px;
            margin-left: 20px;
        }

        nav ul li a.signup{
            border:solid 2px #8BC34A;
            color: #fff;
            border-radius: 6px;
        }

        section.sec1{
            width: 100%;
            height: 900px;
            background:url("/var/www/html/tfh/src/cover2.jpg");
            background-size: cover;
            background-position:center; 

        }

        .content{
            margin-top: 10px;
            float: left;

        }

        .content p{
            width: 900px;
            margin:30px auto;
            text-align: justify;
            font-size: 20px;
            line-height: 30px;

        }


        .grid-section{
           max-width: 960px;
           margin-right: 0 auto;
           margin-top:0;
           padding: 6% 2%;
            
        }

        .grid{
            margin: 20px 0 0 0;
            padding: 0;
            list-style: inline;
            display: block;
            text-align: center;
            width: 100%;
        }

        .grid:after {
            clear: both;

        }

        .grid ul{
            display: inline-block;
        }

        .grid:after, .grid:before{
            content: "";
            display: inline-block;
        }

        .grid li{
            width: 328px;
            height:328px;
            display: inline-block;
            margin: 20px;
        }

        .rest{
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            -webkit-transition:0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            -moz-transition:0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
            transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .rest:hover{
            transform:scale(1.05);
        }

        .rest-1{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.10)),url('/var/www/html/tfh/src/indian.jpg');
            background-image-size:50px 50px; 
        }

        .rest-2{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.10)),url('/var/www/html/tfh/src/pizza.jpg');
        }

        .rest-3{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.10)),url('/var/www/html/tfh/src/chinese.jpg');
        }

        .rest-4{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.10)),url('/var/www/html/tfh/src/dessert.jpg');
        }

        .grid-info{
            position: relative;
            width: inherit;
            height: inherit;
            text-decoration: none;
        }

        .grid-info h3{
            font-family: 'Alegreya Sans', sans-serif;
            font-weight: 400;
            color: #fff;
            font-size: 42px;
            margin: 0 30px;
            padding: 100px 0 0 0;
            line-height: 1.5;
        }

        .grid-info p{
            font-family: 'Alegreya Sans', sans-serif;
            color: white;
            text-decoration: none;
            font-size: 30px;
        }

        footer{
            padding-top: 10%;
            background: url(212121.png);
        }

        #footer-container{
            max-width: 100%;
            height: 100px;
            margin: 0;
            margin-bottom: 0;
            padding-top: 5%;
            background-color: black;
            padding-bottom: 0%;
        }

        .social{
            list-style-type: none;
        }

        .social li a{
            font-family: inherit;
            font-size: 20px;
            display: inline;
            float: right;
            padding: 10px;
            color: white;
            text-decoration: none;
            -o-transition:.5s;
            -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition: .5s;
        }

        .social li a:hover{
            color: #8BC34A;
        }

        .copyright{
            font-family: sans-serif;
            font-weight: 400;
            padding-top: 2%;
            float: left;
            line-height: 1.5em;
            letter-spacing: .1em;
            text-transform: uppercase;
            font-size: 0.95em;
            color: #8BC34A;
            padding-left: 3%;
            padding-bottom: 0%;
    }
        

    .header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

    .header h1{
        color: #fff;
        font-size: 100px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .header p{
        color:#fff;
        font-size: 60px;
        font-weight: lighter;
        margin-top: 8px;
    }

    .header{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 900px;
  height: 420px;
  padding:40px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);

}


